.mainDiv {
    width: 180px;
    height: 230px;
    margin: 2px 20px;
    // background-color: #fff;

    .image {
        width: 180px;
        border-radius: 20px;
        height: 150px;
        cursor: pointer;
        // background-color: blue;
    }
    // .name {
    //     font-weight: bold;
    //     margin-top: 5px;
    //     margin-bottom: 5px;
    // }

    .comment {
        width: 180px;
        height: 40px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        margin-bottom: 8px;

        // span {
        //     height: 40px;
        //     text-overflow: ellipsis;
        //     overflow: hidden;
        // }

        .text{
            height: 100%;
            // text-overflow: ellipsis;
            overflow: hidden;
            // white-space: nowrap;
        }
    }

    .footer {
        display: flex;
        width: 180px;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;

        .price {
            color: red;
        }
    }
}