.mainDiv {
    width: 180px;
    height: 230px;
    margin: 5px 15px;
    // background-color: red;

    .image {
        width: 180px;
        border-radius: 20px;
        height: 150px;
        // background-color: blue;
    }
    // .name {
    //     font-weight: bold;
    //     margin-top: 5px;
    //     margin-bottom: 5px;
    // }

    .comment {
        width: 180px;
        height: 40px;
        text-overflow: ellipsis;
        margin-bottom: 8px;
    }

    .footer {
        display: flex;
        width: 180px;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;
    }
}